* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Segoe UI';
  color: #000000;
}

a {
  text-decoration: none;
}

.clear {
  clear: left;
}

.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

header {
  height: 65px;
  width: 100%;
  background-color: #007f5f;
  position :fixed;
  top: 0;
  z-index: 10;
}

.header-left {
  float: left;
}

.header-right {
  float: right;
  margin-right: -25px;
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
  float: left;
  transition: all 0.5s;
}

.header-right a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.top-wrapper {
  padding: 180px 0 100px 0;
  height: 700px;
  background-color: #007f5f;
  color: white;
  text-align: center;
}

.judul {
  max-width: 800px;
  width: 100%;
  padding: 0;
  margin: 0 auto;
}

.header-left h2{
  color: white;
}

.judul h1 {
  opacity: 1;
  font-size: 50px;
  font-family: 'Segoe UI';
  text-align: left;
  color: white;
}


.judul p {
  opacity: 1;
  font-size: 20px;
  font-family: 'Segoe UI';
  text-align: left;
  color: white;
  margin: 5px 0px;
}

.top-wrapper p {
  margin-bottom: 3px;
}

.btn-wrapper {
  text-align: center;
  margin: 20px 0;
}

.btn-wrapper p {
  margin: 10px 0;
}

.signup {
  background-color: #007bb5	;
}

.facebook {
  background-color: #3b5998;
  margin-right: 10px;
}

.twitter {
  background-color: #f46f30	;
}

.btn {
  padding: 12px 40px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  text-align: center;
}

.btn:hover {
  opacity: 1;
}

.fa {
  margin-right: 5px;
}

.logo {
  width: 124px;
  margin-top: 20px;
}

/* Tambahkan CSS untuk menu-icon */
.menu-icon {
  color: white;
  opacity: 0.8;
  float: right;
  font-size: 25px;
  padding: 21px 0; 
  display: none;
}

.lesson-wrapper {
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: white;
  text-align: center;
}

.lesson-wrapper h1{
  color: #007f5f;
}

.heading {
  padding-top: 50px;
  padding-bottom: 30px;
}

.heading h2 {
  font-weight: normal;
}

.lesson {
  float: left;
  width: 20%;
}

.lesson-icon {
  position: relative;
}

.lesson-icon p {
  position: absolute;
  top: 85%;
  width: 100%;
}

.text-contents {
  width: 80%;
  display: inline-block;
  margin-top: 15px;
  font-size: 15px;
}

.heading h3 {
  font-weight: normal;
}

/* CSS Portofolio Disini */
.portofolio-wrapper {
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: white;
  text-align: center;
}

.portofolio-wrapper h1{
  color: #007f5f;
}

.portofolio {
  float: left;
  width: 25%;
  height: 100%;
  margin-bottom: 30px;
}

.porto-img {
  position: relative;
  z-index: 1;
	top: 0px;
}

.portofolio p {
  position: absolute;
  display: inline-block;
	width: 100%;
  height: 251px;
  bottom: -13px;
	z-index: 2;
	color: white;
  background-color: #007f5f;
  padding-top: 120px;
  opacity: 0;
}

.portofolio p:hover {
  opacity: 0.70;
}

/*Slide Disini*/
.slider{
	overflow: hidden;
}

.slider figure div{
	width: 20%;
	float: left;
}

.slider figure{
	position: relative;
	width: 500%;
	margin: 0;
	left: 0;
	animation: 20s slidy infinite;
}

/* CSS Training*/
.experiences-wrapper {
  padding-bottom: 80px;
  text-align: center;
}

.experiences-wrapper h1{
  color: #007f5f;
}
.slider {
  width: 800px;
  height: 450px;
  background-color: yellow;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  text-align: center;
  overflow: hidden;
}
.image-container {
  width: 2400px;
  background-color: #007f5f;
  height: 450px;
  clear: both;
  position: relative;
  -webkit-transition: left 2s;
  -moz-transition: left 2s;
  -o-transition: left 2s;
  transition: left 2s;
}
.slide {
  float: left;
  margin: 0px;
  padding: 0px;
  position: relative;
}
#slide-1:target ~ .image-container {
  left: 0px;
}
#slide-2:target ~ .image-container {
  left: -800px;
}
#slide-3:target ~ .image-container {
  left: -1600px;
}
.buttons {
  position: relative;
  top: -20px;
}
.buttons a {
  display: inline-block;
  height: 15px;
  width: 15px;
  border-radius: 50px;
  background-color: #007f5f;;
}

/* CSS Message*/
.message-wrapper {
  border-bottom: 1px solid #eee;
  padding-bottom: 80px;
  text-align: center;
}

.message-wrapper h1{
  font-size: 20px;
  color: #000000;
  padding-bottom: 0px;
}

.message {
  padding: 15px 40px;
  background-color: #5dca88;
  cursor: pointer;
  box-shadow: 0 7px #007f5f;
  margin-right: 10px;
}

.message:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}

.email {
  padding: 15px 58px;
  background-color: #ea4335;
  cursor: pointer;
  box-shadow: 0 7px #bb001b;
}

.email:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}

footer img {
  width: 100px;
  float: left;
}

footer p {
  color: #000000;
  font-size: 15px;
  display: inline-flex;
  float: rigth;
}

footer {
  padding-top: 30px;
  padding-bottom: 20px;
  background-color: #007f5f;
}
